@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
    background-color:#fff;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: coral;
    margin-top: 70px;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
p{
    line-height: 28px;
    margin-bottom: 25px;
}
.centered{
    text-align: center;
}


a {
    color:#D8D8D8;
    font-size: 30px;
    
}
a:hover{
    color: white;
}
}
hr{
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
}
.navbar{
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-inverse{
    background:#2d2d2d;
    border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active >a{
    background-color: aqua;
}
#headerwrap{
    background: url(img/site-hero.jpg) center top;
    
    text-align: center;
    background-position: center center;
    min-height: 600px;
    width: 100%;
    
    background-size: 100%;
    
    -webkit-background-size:cover;
    
}
p{
    color:#bdbdbd;
}

#headerwrap h1{
    color:bisque;
    margin-top: 100px;
    font-size: 100px;
}
#headerwrap h2{
    color:black;
    font-size: 40px;
}

.w h4{
    color:dimgray;
}

.col-lg-4{
    margin-bottom: 30px;
}
#r{
    background-color:;
}
#r h4{
    color:dimgray;
    font-size: 45px;
}
hr{
    color: #000000;
}

#footer{
    background: ;
    padding-top: px;
    padding-bottom: px;
    
}
#footer i{
   color: #BDBDBD;
    font-size: 30px;
    padding: 20px;
}
#footer i:hover{
    color: black;
}